<h2><%= user.username %></h2>
<% if(user.image){ %> 
<p><img class="avatar" src="http://res.cloudinary.com/photo-spotkate/image/upload/<%= user.image %>"></p>
<% } %>
<p>Username: <%= user.username %>.</p>
<% if(user.mail){ %><p>Mail: <%= user.mail %>.</p> <% } %> 
<% if(user.ciudad){ %><p>Ciudad: <%= user.ciudad %>.</p> <% } %>
<% if(user.push){ %><p>Es: <%= user.push %>.</p> <% } %>
<% if(user.tipo){ %><p>Prefiere patinar <%= user.tipo %>.</p> <% } %>
<% if(user.tabla||user.ejes||user.ruedas||user.rodatas){ %><p>SetUp preferido:</p> <% } %>
<% if(user.tabla){ %><p>Tabla: <%= user.tabla %>.</p> <% } %>
<% if(user.ejes){ %><p>Ejes: <%= user.ejes %>.</p> <% } %>
<% if(user.ruedas){ %><p>Ruedas: <%= user.ruedas %>.</p> <% } %>
<% if(user.rodatas){ %><p>Rodatas: <%= user.rodatas %>.</p> <% } %>
<% if(user.rideFor){ %><p>Patina para: <%= user.rideFor %>.</p> <% } %>
<% if(user.trick){ %><p>Truco favorito: <%= user.trick %>.</p> <% } %>
<p>Creado el: <%= user.creado_el %>.</p>
<h2><a href="javascript:history.back()">volver</a></h2>
<h2>Fotos subidas</h2>
<ul class="galeria">
<% var e; for(e=0; e<user.photosSpots.length; e++) { %>
	<li>
		<a href="#image<%= e %>"><img src="http://res.cloudinary.com/photo-spotkate/image/upload/<%= user.photosSpots[e].image %>"></a>
	</li>
<% } %>
</ul>
<% var e; for(e=0; e<user.photosSpots.length; e++) { %>
<div class="modal" id="image<%= e %>">
	<h3><%= user.photosSpots[e].nombreSpot %></h3>
	<div class="imagen">
		<a href="#image<%= e-1 %>">&#60;</a>
		<a href="#image<%= e+1 %>"><img src="http://res.cloudinary.com/photo-spotkate/image/upload/<%= user.photosSpots[e].image %>"></a>
		<a href="#image<%= e+1 %>">></a>
	</div>
	<a class="cerrar" href="" >x</a>
	<h4> Foto subida por <%= user.photosSpots[e].creado_por %> el <%= user.photosSpots[e].creado_el %></h4>
</div>
<% } %>
	



