<h2><%= shop.nombre %></h2>
<p>Direccion: <%= shop.direccion %>.</p>
<p>Descripcion: <%= shop.descripcion %>.</p>
<p>Creada por: <%= shop.creado_por %>.</p>
<p>Creada el: <%= shop.creado_el %>.</p>
<% if(shop.image){ %> 
<p><img class="spot_img" src="http://res.cloudinary.com/photo-spotkate/image/upload/<%= shop.image %>"></p>
<% } %>
<% if(session.user){ %>
<p><a href="/shop/<%= shop.id %>/comments/new"><button>Nuevo Comentario</button></a></p>
<% } %>
<h2>Comentarios</h2>
<table>
	<% var i; for(i=0; i<shop.commentShops.length; i++) { %>
		<tr>
			<td><%= shop.commentShops[i].creado_por %>:</td><td><%= shop.commentShops[i].comentario %></td>			
		</tr>
	<% } %>
	</table>
<h2><a href="javascript:history.back()">volver</a></h2>
<p>ver en el mapa como opcion</p>
<p>Aqui estarian las fotos</p>

