<h2><%= shop.nombre %></h2>
<p>Direccion: <%= shop.direccion %>.</p>
<p>Descripcion: <%= shop.descripcion %>.</p>
<p>Creada por: <%= shop.creado_por %>.</p>
<p>Creada el: <%= shop.createdAt %>.</p>
<h2><a href="/shops">volver</a></h2>
<p>ver en el mapa como opcion</p>
<p>Aqui estarian las fotos</p>

