<h2>Bienvenido a los spots</h2>
<h2>Spots:</h2>
<ul class="galeria">
<% var i; for(i=0; i<spots.length; i++) { %>		
		<li>
			<a href="spot/<%= spots[i].id %>"><img src="http://res.cloudinary.com/photo-spotkate/image/upload/<%= spots[i].image %>"></a><br>	
			<a href="spot/<%= spots[i].id %>"><%= spots[i].nombre %></a><br>
			<% if(session.user){ 			
				if(session.user.isAdmin || session.user.id === spots[i].UserId) {%>
				<a href="spot/<%= spots[i].id %>/edit"><button>editar</button></a>
				<form method="post" action="spot/<%= spots[i].id %>?_method=delete">
					<button type="submit" onclick="return confirm('Seguro que quieres borrar: <%= spots[i].nombre %>')">
					Borrar</button>
				</form>
			<% } } %>
		</li>		
<% } %>
</ul>
<% if(session.user){ %>
<a href="/spot/new"><button type="button">Crea un Spot</button></a>
<% } %>
