<h2><%= spot.nombre %></h2>
<p>Direccion: <%= spot.ciudad %>.</p>
<p>Descripcion: <%= spot.descripcion %>.</p>
<p>Tipo: <%= spot.tipo %>.</p>
<p>Creado por: <%= spot.creado_por %>.</p>
<p>Creado el: <%= spot.createdAt %>.</p>
<% console.log(spot.image); %>
<p><img class="spot_img" src="/media/<%= spot.image %>"></p>
<% if(session.user){ %>
<p><a href="/spot/<%= spot.id %>/comments/new"><button>Nuevo Comentario</button></a></p>
<% } %>
<h2>Comentarios</h2>
<table>
	<% var i; for(i=0; i<spot.commentSpots.length; i++) { %>
		<tr>
			<td><%= spot.commentSpots[i].creado_por %>:</td><td><%= spot.commentSpots[i].comentario %></td>
		</tr>
	<% } %>
</table>
<h2><a href="javascript:history.back()">volver</a></h2>
<p>ver en el mapa como opcion</p>
<p>Aqui estarian las fotos</p>

