<h2><%= spot.nombre %></h2>
<% if(spot.image){ %> 
<p><img class="avatar" src="http://res.cloudinary.com/photo-spotkate/image/upload/<%= spot.image %>"></p>
<% } %>
<p>Direccion: <%= spot.ciudad %>.</p>
<p>Descripcion: <%= spot.descripcion %>.</p>
<p>Tipo: <%= spot.tipo %>.</p>
<p>Creado por: <%= spot.creado_por %>.</p>
<p>Creado el: <%= spot.creado_el %>.</p>
<h3>Comentarios</h3>
<% if(session.user){ %>
 <form method="post" action="/spot/<%= spot.id %>/comments">
	<input type="text" id="comSpot" name="commentSpot[texto]" placeholder="escribe aqui..."/>	
	<input type="text" id="userIdspot" name="commentSpot[creado_por]" value="<%= session.user.username %>" hidden/>
	<button type="submit">Enviar Comentario</button>	
</form>
<form method="post" action="/photosSpot/new" enctype='multipart/form-data'>
<input type="text" name="spotId" value="<%= spot.id %>" hidden/>
<input type="text" name="nombreSpot" value="<%= spot.nombre %>" hidden />
<input type="file" name='photo' accept="image/*">
<input type="submit" value="Añadir foto al Spot"><br>
</form>
<% } %>
<table>
	<% var i; for(i=0; i<spot.commentSpots.length; i++) { %>
		<tr>
			<td><%= spot.commentSpots[i].creado_por %>:</td><td><%= spot.commentSpots[i].comentario %></td>
		</tr>
	<% } %>
</table>
<h2><a href="javascript:history.back()">volver</a></h2>
<p>ver en el mapa como opcion</p>
<h3>Fotos</h3>
<ul class="galeria">
<% var e; for(e=0; e<spot.photosSpots.length; e++) { %>
	<li>
		<a href="#image<%= e %>"><img src="http://res.cloudinary.com/photo-spotkate/image/upload/<%= spot.photosSpots[e].image %>"></a>
	</li>
<% } %>
</ul>
<% var e; for(e=0; e<spot.photosSpots.length; e++) { %>
<div class="modal" id="image<%= e %>">
	<h3><%= spot.nombre %></h3>
	<div class="imagen">
		<a href="#image<%= e-1 %>">&#60;</a>
		<a href="#image<%= e+1 %>"><img src="http://res.cloudinary.com/photo-spotkate/image/upload/<%= spot.photosSpots[e].image %>"></a>
		<a href="#image<%= e+1 %>">></a>
	</div>
	<a class="cerrar" href="" >x</a>
	<h4> Foto subida por <%= spot.photosSpots[e].creado_por %> el <%= spot.photosSpots[e].creado_el %></h4>
</div>
<% } %>
	
