<h2><%= spot.nombre %></h2>
<p>Direccion: <%= spot.direccion %>.</p>
<p>Descripcion: <%= spot.descripcion %>.</p>
<p>Tipo: <%= spot.tipo %>.</p>
<p>Creado por: <%= spot.creado_por %>.</p>
<p>Creado el: <%= spot.createdAt %>.</p>
<h2><a href="/spots">volver</a></h2>
<p>ver en el mapa como opcion</p>
<p>Aqui estarian las fotos</p>

